<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="static/css/style.css">
    </head>
    <body>
        <div style="width: 100%; height: 40px" id="username"></div>
        <div style="width:50%; padding: 20px; overflow-y: scroll;">
            <div id="messages"></div>
            <div style="padding-top: 20px;">
                <form id="sendMessage">
                    <input id="message" type="text" style="width: 70%;"><button style="width: 25%">Send</button>
                </form>
            </div>
        </div>
        <div id="musik">

        </div>

        <div id="my-hand">

        </div>
        <!--<p>Musik:</p>-->
        <!--{% for card in musik %}-->
            <!--<img src="{{ card.display() }}" alt="Zdjęcie karty {{ card.display() }}" width="100px"/>-->
        <!--{% end %}-->
        <!--<p>Reszta kart:</p>-->
        <!--{% for card in cards %}-->
            <!--<img src="{{ card.display() }}" alt="Zdjęcie karty {{ card.display() }}" width="100px"/>-->
        <!--{% end %}-->
        <script src="static/js/MessageHandler.js"></script>
        <script>
        let username = prompt("What's your name?");
        let message_handler = new MessageHandler();
        message_handler.connect();

        if (username){
            let usernameBox = document.getElementById("username");
            usernameBox.innerHTML = "USERNAME: " + username;
            message_handler.sendMessage({"type": "join_game", "user": username})
        }

        document.getElementById("sendMessage").addEventListener('submit', function (evt) {
            evt.preventDefault();
            let messageInput = document.getElementById("message");
            let message = messageInput.value;
            messageInput.value = "";
            message_handler.sendMessage({"type": "update_chat", "user": username, "message": message})
        });

        function setPayload(type, user, message, time) {
            return {"type": type,
                    "user" : user,
                    "message": message,
                    "time" : time}
        }

        </script>
    </body>
</html>