*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body, html {
    width: 100%;
    height: 100%;
}

#board{
    width: 70%;
    height: 100%;
    float: left;
    background: green;
    position: relative;
}

#sidebar{
    width: 30%;
    height: 100%;
    float: left;
    background: aliceblue;
}

#username{
    width: 100%;
    line-height: 40px;
    font-weight: bold;
    font-size: 30px;
    vertical-align: middle;
    text-align: center;
}

#score-table{
    width: 100%;
}

#score-table h3 {
    text-align: center;
}

#score-table .score-table-row{
    padding: 5px auto;
    text-align: center;
}

#score-table .score-table-row:nth-child(odd){
    background: #CCC;
}
#score-table .score-table-row:nth-child(even){
    background: #FFF;
}

#chat {
    height: 400px;
    padding: 20px;
    overflow-y: scroll;
}

#messages div{
    padding-top: 20px;
}

#messages #sendMessage {
    text-align: center;
}

#sendMessage input {
    width: 70%;
}

#sendMessage button{
    width: 25%;
}






#board #musik {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#board #my-hand {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}